


<form #myForm="ngForm" (ngSubmit)="onSubmitUserInfo(myForm.value)">
           <p>
          <input type="text" name="firstname" ngModel="firstName" />
               
      </p>

    <label for="country">country </label>
    
    <select name="country" id="country" ngModel="country">
      <option selected="" value=""></option>
    <option [ngValue]="cnty.id" *ngFor="let cnty of countryList">
        {{cnty.name}}
      </option>
    </select>

    <p>
      <button >Submit</button>
  </p>
 
</form>
 