<p>create-product works!</p>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Product Register</div>
                <div class="card-body">

                    <form class="form-horizontal" #myForm="ngForm" (ngSubmit)="onSubmitProduct(myForm.value)">

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Product Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="productName" 
                                    id="productName"
                                        placeholder="Enter your product details" 
                                        ngModel="productName"
                                        #productName="ngModel"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Prodcut Details</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" 
                                    name="description" 
                                    id="description"
                                        placeholder="Enter your product details" 
                                        ngModel="description"
                                        #description="ngModel"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Quantity</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa"
                                            aria-hidden="true"></i></span>
                                    <input type="text" 
                                    class="form-control" 
                                    name="quantity" id="quantity"
                                        placeholder="Enter your Quantity" 
                                        ngModel="quantity"
                                        #quantity="ngModel"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Product Cost</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="text" 
                                           class="form-control" 
                                           name="product_cost" id="product_cost"
                                           placeholder="Enter your unti price" 
                                           ngModel="product_cost"
                                           #product_cost="ngModel"
                                           />
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <input type="submit" class="btn btn-primary btn-lg btn-block login-button" (click)="onSubmitProduct">
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>